<div id="mail" class="page-layout carded left-sidenav" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg mat-accent-bg"></div> -->
    <!-- / TOP BACKGROUND -->

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <!-- <mat-sidenav class="sidenav mat-sidenav-opened" align="start" mode="side" opened="true"
                     fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">
            <fuse-mail-main-sidenav></fuse-mail-main-sidenav>
        </mat-sidenav> -->
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center">

            <!-- CONTENT HEADER -->
            <!-- <div class="header" fxLayout="row" fxLayoutAlign="start center">

                <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md aria-label="Toggle Sidenav">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <div class="search mat-white-bg" flex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="searchInput" [placeholder]="'MAIL.SEARCH_PLACEHOLDER' | translate" fxFlex>
                    </div>
                </div>

            </div> -->
            <!-- / CONTENT HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card" [ngClass]="{'current-mail-selected':currentMail}">


                <!-- CONTENT -->
                <div class="content" fxLayoutAlign="row">
                    <div fxLayout="column" fxLayoutAlign="column" class="mail-list-wrapper">
                        <div class="account" fxLayout="row" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms'}}">
                            <!-- <div class="title">John Doe</div> -->
                            <mat-select class="account-selection" placeholder="Mail Selection"
                                        [ngModel]="selectedAccount">
                                <mat-option *ngFor="let account of (accounts | keys)" [value]="account.key">
                                    {{account.value}}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="search-icon">search</mat-icon>
                        </div>
                        
                        <div class="horizental-separator"></div>
                        <!-- CONTENT TOOLBAR -->
                        <div class="toolbar">

                            <div class="mail-selection" fxFlex="row" fxLayoutAlign="start start">
                                <div class="checkbox-wrapper">
                                    <mat-checkbox (click)="toggleSelectAll()" [checked]="hasSelectedMails"
                                        [indeterminate]="isIndeterminate">
                                    </mat-checkbox>

                                    <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                                        <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #selectMenu="matMenu">
                                        <button mat-menu-item (click)="selectMails()">All</button>
                                        <button mat-menu-item (click)="deselectMails()">None</button>
                                        <button mat-menu-item (click)="selectMails('read', true)">Read</button>
                                        <button mat-menu-item (click)="selectMails('read', false)">Unread</button>
                                        <button mat-menu-item (click)="selectMails('starred', true)">Starred</button>
                                        <button mat-menu-item (click)="selectMails('starred', false)">Unstarred</button>
                                        <button mat-menu-item (click)="selectMails('important', true)">Important</button>
                                        <button mat-menu-item (click)="selectMails('important', false)">Unimportant</button>
                                    </mat-menu>
                                </div>
                                <div class="refresh-wrapper">
                                    <mat-icon>refresh</mat-icon>
                                </div>
<!--         
                                <div class="toolbar-separator" *ngIf="hasSelectedMails"></div>
        
                                <button mat-icon-button (click)="setFolderOnSelectedMails(4)" *ngIf="hasSelectedMails">
                                    <mat-icon>delete</mat-icon>
                                </button>
        
                                <button mat-icon-button [matMenuTriggerFor]="folderMenu" *ngIf="hasSelectedMails">
                                    <mat-icon>folder</mat-icon>
                                </button>
                                <mat-menu #folderMenu="matMenu">
                                    <button mat-menu-item *ngFor="let folder of folders"
                                            (click)="setFolderOnSelectedMails(folder.id)">{{folder.title}}
                                    </button>
                                </mat-menu>
        
                                <button mat-icon-button [matMenuTriggerFor]="labelMenu" *ngIf="hasSelectedMails">
                                    <mat-icon>label</mat-icon>
                                </button>
                                <mat-menu #labelMenu="matMenu">
                                    <button mat-menu-item *ngFor="let label of labels"
                                            (click)="toggleLabelOnSelectedMails(label.id)">{{label.title}}
                                    </button>
                                </mat-menu> -->
                            </div>
                            <div class="mail-selection1" fxFlex="row" fxLayoutAlign="start end">
                                <div class="people-wrapper">
                                    <mat-icon>people</mat-icon>
                                    <button [matMenuTriggerFor]="selectMenu">
                                        <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #selectMenu="matMenu">
                                        <button mat-menu-item (click)="selectMails()">All</button>
                                        <button mat-menu-item (click)="deselectMails()">None</button>
                                        <button mat-menu-item (click)="selectMails('read', true)">Read</button>
                                        <button mat-menu-item (click)="selectMails('read', false)">Unread</button>
                                        <button mat-menu-item (click)="selectMails('starred', true)">Starred</button>
                                        <button mat-menu-item (click)="selectMails('starred', false)">Unstarred</button>
                                        <button mat-menu-item (click)="selectMails('important', true)">Important</button>
                                        <button mat-menu-item (click)="selectMails('important', false)">Unimportant</button>
                                    </mat-menu>
                                </div>
                                <div class="offer-wrapper">
                                    <mat-icon class="icon-flipped">local_offer</mat-icon>
                                    <button [matMenuTriggerFor]="selectMenu">
                                        <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #selectMenu="matMenu">
                                        <button mat-menu-item (click)="selectMails()">All</button>
                                        <button mat-menu-item (click)="deselectMails()">None</button>
                                        <button mat-menu-item (click)="selectMails('read', true)">Read</button>
                                        <button mat-menu-item (click)="selectMails('read', false)">Unread</button>
                                        <button mat-menu-item (click)="selectMails('starred', true)">Starred</button>
                                        <button mat-menu-item (click)="selectMails('starred', false)">Unstarred</button>
                                        <button mat-menu-item (click)="selectMails('important', true)">Important</button>
                                        <button mat-menu-item (click)="selectMails('important', false)">Unimportant</button>
                                    </mat-menu>
                                </div>
                                <div class="toolbar-icon-wrapper">
                                    <i class="fa fa-filter" aria-hidden="true"></i>
                                    <!-- <mat-icon>filter</mat-icon> -->
                                </div>
                            </div>

                        </div>
                        <!-- / CONTENT TOOLBAR -->
                        <fuse-mail-list fusePerfectScrollbar fxFlex></fuse-mail-list>
                    </div>
                    <div class="row-divider" fxHide fxShow.gt-xs>
                        <mat-icon>more_vert</mat-icon>
                    </div>
                    <div fxFlex>
                        <div *ngIf="currentMail" fxHide.gt-xs class="back-button">
                            <button mat-icon-button (click)="deSelectCurrentMail()">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                        </div>
                        <fuse-mail-details fusePerfectScrollbar fxFlex></fuse-mail-details>
                    </div>
                    <div class="row-divider" fxHide fxShow.gt-md>
                        <mat-icon>more_vert</mat-icon>
                    </div>
                    <div class="blank-section" fxHide fxShow.gt-md>

                    </div>
                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>
