@import 'src/app/core/scss/fuse';

:host {
    flex-shrink: 0;
    position: relative;
    padding: 10px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    height: 100px;

    &.unread {
        background: #FFFFFF;

        .info {

            .name {
                font-weight: 700;
            }

            .row-2 {

                .subject {
                    font-weight: 700;
                }

                .labels {
                    background: #FFFFFF;
                }
            }
        }
    }

    &.selected {
        background: #FFF8E1;

        .info {

            .row-2 {

                .labels {
                    background: #FFF8E1;
                }
            }
        }
    }

    &.current-mail {
        background: #318dff;
        color: white;

        .info .row-1 {
            .message {
                color: white;
            }
    
            .subject {
                color: white;
            }
        }

        mat-icon {
            color: white;
        }
        .info {

            .row-2 {

                .labels {
                    background: #E3F2FD;
                }
            }
        }
    }

    .time {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 14px;
    }

    .read-status {
        position: absolute;
        bottom: 5px;
        right: 7px;
    }

    .info {
        overflow: hidden;
        width: 0;
        margin-left: 16px;
        position: relative;

        .row-1 {
            // margin-bottom: 8px;

            .name {
                font-size: 15px;
                font-weight: 500;

                .avatar {
                    min-width: 32px;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    background-color: mat-color($accent);
                }
            }

            .actions {
                margin-left: 4px;

                .mat-icon-button {
                    width: 32px;
                    height: 32px;
                    line-height: 1;
                }
            }

            .subject,
            .message {
                width: 100%;
                font-weight: 100;
            }

            .subject {
                color: #258494;
                // font-weight: 100;
                font-size: 14px;
            }

            .message {
                position: relative;
                color: rgba(0, 0, 0, 0.54);
                font-size: 12px;
            }

            .labels {
                // position: absolute;
                // background: #FFFFFF;
                bottom: 0;
                right: 0;
                // padding-left: 6px;

                .label {
                    font-size: 11px;
                    // border-radius: 2px;
                    margin: 0 4px 0 0;
                    padding: 3px 8px;
                    // background-color: rgba(0, 0, 0, 0.08);
                    background-color: white;
                    border-radius: 3px;
                    border-width: 1px;
                    border-style: solid;

                    .label-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
            }

            .mail-item-desc-wrapper {
                display: block !important;
            }
        }

        .row-2 {

            .subject,
            .message {
                width: 100%;
            }

            .message {
                position: relative;
                color: rgba(0, 0, 0, 0.54);
            }

            .labels {
                // position: absolute;
                background: #FFFFFF;
                bottom: 0;
                right: 0;
                // padding-left: 6px;

                .label {
                    font-size: 11px;
                    border-radius: 2px;
                    margin: 0 4px 0 0;
                    padding: 3px 8px;
                    // background-color: rgba(0, 0, 0, 0.08);
                    background-color: white;
                    border-radius: 3px;
                    border-width: 1px;
                    border-style: solid;

                    .label-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .rotate-45 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
